// COLOR PALETTE
$active: #08be22;
$vacant: #d52b1e;
$inactive: #353435;
$main-color: #4D9BE8;
$link-color: #4285f4;
$title-color: #404041;
$subtitle-color: #848588;
$white: #ffffff;

//FONT SIZE
$base-font-size: 12px;
$large-font-size: 14px;
$huge-font-size: 16px;
$title-font-size: 36px;

//FONT WEIGHT
$small-font-weight: 500;

//PADDING AND MARGIN
$small-spacing: 8px;
$normal-spacing: 16px;
$large-spacing: 24px;
$huge-spacing: 40px;